<h1 style="font-family : sans" align="center" ><b>Python Basics</b>
 <img width="50" src= "https://static.vecteezy.com/system/resources/previews/012/697/295/original/3d-python-programming-language-logo-free-png.png" align = "right"> </h1>
<hr>
<p style="color:#784212;text-align:center;font-size:125%"; align="center"><i> Arghya Pratihar (Junior Research Fellow, ISI Kolkata)</i></p>
<p style="color:#784212;text-align:center;font-size:110%"; align="center"><b>Indian Statistical Institute, Kolkata</b></p>
<hr>

<h2 align="left"><u>What are Conditional statements?</u> if-elif-else</h2>


```
#If-else block
If (this):
    do this
else:
    do this

```

```
#Nested if-else block
If (this):
    do task A
Else if (this):
    do task B
Else if (this):
    do task C
Else:
    do task D

```

```
#Nested Else-if
If this happens:
    If this happens:
         If this happens:
            what is the result?
         Else:
             what is the result?
    Else:
         what is the result?
Else:
     what is the result?
```

In [ ]:
# General structure

# if condition1:
#     statement(s1)

# elif condition2:
#     statement(s2)

# elif condition3:
#     statement(s3)

# ...

# elif conditionN:
#     statement(sN)

# else:
#     statement(s)

In [ ]:
a1 = 7
a2 = 7

if a1 > a2:
    print('a1 is greater')
elif a1 < a2:
    print('a2 is greater')
else:
    print('a1 and a2 are equal')

a1 and a2 are equal

In [ ]:
inp_1 = 123
inp_2 = 321

if inp_1 == inp_2:
  print("both strings are equal")
else:
  if inp_1 < inp_2:
    print("inp_2 is greater than inp_1 with a difference ", inp_2 - inp_1)
  else:
    print("inp_2 is smaller than inp_1 with a difference ", inp_1 - inp_2)

inp_2 is greater than inp_1 with a difference  198

<p> <b>Exercise 1: </b> Write a program that takes an integer as input, and prints whether the number is odd or even.<p>

In [ ]:
x = int(input("Enter an integer:"))

if x % 2 == 1:
    print(x, 'is odd')
else:
    print(x, 'is even')

Enter an integer:8
8 is even

<h2 align="left"><u>Python Follows INDENTATIONS instead of parentheses in C</u></h2>
<p style="font-size:17px">
a. There are no braces {} in Python to demarcate blocks of code<br>
b. Indentations (whitespaces) demarcate blocks of code <br>
c. Changes in indentation mark where a block begins, and where it ends <br>
d. A common convention: 4 spaces (or 1 tab, which the editor converts to 4 spaces)
</p>

In [ ]:
a1 = 10
a2 = 20
a3 = 30

if a1 == 10:
    if a2 == 10:
        if a3 == 20:
            print('ECSU')
        else:
            print('ISI')
    else:
        print('ML')
else:
    print('2024')

ML

<h2 align="left">8. Loops</h2>
<h3> To do an action Repetitively</h3>

```
#range() - a function that performs an iterated operation
#from first index to last index using a difference as step
```
<h3> For Loop</h3>

```
for index in range(starting index, last index, step):
  do task
```

In [ ]:
# range(t) : goes from 0 to t-1
#Default step is 1
for i in range(0, 6): # [0, 1, 2, 3, 4, 5]
    print(i)

0
1
2
3
4
5

In [ ]:
# range(start, end, step_size)

for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
cnt = 0
for i in range(5,10):
    if cnt==4:
      break
    print(i)
    cnt = cnt + 1

5
6
7
8

In [ ]:
# Opposite step direction
#### FORWARD DIRECTION
for i in range(0,10,2):
    print(i)

print('\n')

#### BACKWARD DIRECTION
for i in range(8,-1,-2):
    print(i)

0
2
4
6
8


8
6
4
2
0

In [ ]:
# Iterate over strings

str1 = 'the satellite'

for i in str1:
    print(i)

t
h
e

s
a
t
e
l
l
i
t
e

In [ ]:
# Iterate more explicitly:
print(str1[4])

s

In [ ]:
for i in range(len(str1)):
    print(i+1, str1[i])

1 t
2 h
3 e
4
5 s
6 a
7 t
8 e
9 l
10 l
11 i
12 t
13 e

In [ ]:
x = ['a', 'aa', 'abc', 'aabcd', 'bca', 'xyz', 'kyz']
for word in x:
  if 'a' in word:
    print(word)
  else:
    print("Not a :", word)

a
aa
abc
aabcd
bca
Not a : xyz
Not a : kyz

<h3>While Loop</h3>

```
while Condition:
  Statement(s)
```

In [ ]:
i = 0 #Initialzation of iterator (say i)

while i <= 24: #Put the condition on the iterator / Starting from i = 0 ending in 24
    print(i)
    i += 4 #Increment of the iterator / step in For Loop

0
4
8
12
16
20
24

<b><H2>Exercise:</b> Do these programs using for and while loops both</H2>

1. Write a program to print the odd integers upto 100.

2. Then COUNT for odd integers which are divisible by 3 when the odd number is greater than 50.

In [ ]:
i = 1
count_odd = 0
count = 0
while i <= 100:
    if i%2!=1:
        count_odd = count_odd + 1
        if i > 50 and i %3 ==0:
          count = count + 1

    i += 1
print("Odd integers divisible by 3 within 50 to 100: ",count,"\nOdd integers within 0 to 100:",count_odd)

Odd integers divisible by 3 within 50 to 100:  8
Odd integers within 0 to 100: 50

<h2 align="left">9. <i>break, continue</i></h2>

In [ ]:
# break

i = 0
while True:
    print(i)
    i += 1
    if i > 10:
        break

#print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(15):
    print(i)
    if i > 10:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# continue to skip iteration
i = 0
while i < 10:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [ ]:
# break and continue

i = 0
while True:
    i += 1
    if i > 32:
        break
    elif i <= 5:
        print('WSDL')
        continue
        print('ISI')

print(i)

WSDL
WSDL
WSDL
WSDL
WSDL
33

<h3><b><u>Exercise:</u></b></h3>

```
1. Input a starting and ending index from the user
2. if difference between starting and ending index > 10
    then check for even or odd upto difference 20
    if odd then count the elements which are divisible by 3 and 5
3. else go for a walk and print the elements
```

<h2 align="left">10. Functions</h2>

```
# Generic Structure of function in Python

def functionName(argument1, argument2, argumentN):
     statement(s)
     return return1, return2, returnN

#The function maynot return any value.
```

In [ ]:
def addition(n1, n2):
    add_result = n1 + n2
    return add_result #add_result = n1+n2

In [ ]:
def substraction(n1, n2):
    subs_result = n1 - n2
    return subs_result #subs_result = n1-n2

In [ ]:
def multiplication(n1, n2):
    mult_result = n1 * n2
    return mult_result #mult_result = n1*n2

In [ ]:
def division(n1, n2):
    divide_result = n1 / n2
    return divide_result #divide_result = n1/n2

In [ ]:
print(addition(20,15))
print(division(100,5))

35
20.0

In [ ]:
def list_of_my_functions(n1, n2):
    functions = {"add": addition(n1, n2), "substract": substraction(n1,n2), "multiply": multiplication(n1,n2), "divide": division(n1,n2)} #store as a dictionary
    for i in functions:
        print(i, functions[i])
#return functions

In [ ]:
list_of_my_functions(16, 10)

add 26
substract 6
multiply 160
divide 1.6

In [ ]:
#Creating a calculator with Addition, Substraction, Multiplication and Division Operation
def calculator(n1, n2):
    sum_, substract, multiplication, division = n1 + n2, n1-n2, n1*n2, n1/n2
    print('Sum: ', sum_)
    print('substract: ', substract)
    print('multiplication: ', multiplication)
    print('division: ', division)

In [ ]:
calculator(6,2)

Sum:  8
substract:  4
multiplication:  12
division:  3.0

```
Exercise:
1. Write to program to make a calculator using function.
2. Ask users to put the name of the operation that they want to perform.
3. Next ask them to give the numbers for performing their chosen operations.
4. Finally dispaly the result.
```

In [ ]:
#Function to check whether a number is even or not
def even_1(n):
    if n % 2 == 0:
        is_even = True
    else:
        is_even = False
    return is_even

In [ ]:
#Purpose of this funtion is simiiar to the last function
def even_2(n):
    is_even = (n % 2 == 0)
    return is_even

In [ ]:
#Testing whether a given number is even or not

n1 = 4
print(even_1(n1))

n2 = 7
print(even_2(n2))

True
False

In [ ]:
#Let's have a fun calculator
def fun_calculator(n1, n2):
    return n1+n2, n1-n2, n1*n2, n1/n2, n1%n2, n1//n2, n1**n2

a1 = 10
a2 = 5
print(fun_calculator(a1, a2))

a3 = 20
a4 = 4
ret1, ret2, ret3, ret4, ret5, ret6, ret7 = fun_calculator(a3, a4)
print(ret1, ret2, ret3, ret4, ret5, ret6, ret7)

(15, 5, 50, 2.0, 0, 2, 100000)
24 16 80 5.0 0 5 160000

In [ ]:
#Addition with default value set to n2 and n3

def ADD(n1, n2=4, n3=5):
    sum = n1+n2+n3
    return sum

In [ ]:
print(ADD(n1=50))

print(ADD(n1=55, n2=8))

print(ADD(n1=54, n3=7))

print(ADD(n1=7, n2=10, n3=12))

59
68
65
29

In [ ]:
# Setting the default exponent values to 1

def power(x, p=1):
    return x**p

In [ ]:
#Setting the exponent as default
print(power(x=5))

#Setting the exponent value to 3
print(power(5, 9))

5
1953125

In [ ]:
# Default values MUST be filled from the right and hence results in an error

def power(x=1,p):
    return x**p

print(power(10, 3))

SyntaxError: non-default argument follows default argument (<ipython-input-9-8dcf58a0a352>, line 3)

In [ ]:
#pass by values, pass by reference
def fun(x):
  x.append(3)
  x = [4,5]
  return x

x = [1,2]
fun(x)
print(x)

[1, 2, 3]

In [ ]:
arg_1 = 10
arg_2 = 20
arg_3 = 30

def fun(ar_1=5, ar_2=5, ar_3=5):

  ret_1 = ar_1*2
  ret_2 = ar_2*3
  ret_3 = ar_3*4

  return ret_1, ret_2, ret_3

In [ ]:
x = fun()
print(x)
print(x[0], x[1], x[2])

(10, 15, 20)
10 15 20

In [ ]:
x_1, x_2, x_3 = fun(arg_1)
print(x_1, x_2, x_3)

20 15 20

In [ ]:
x_1, x_2, x_3 = fun(arg_1, arg_2)
print(x_1, x_2, x_3)

20 60 20

In [ ]:
x_1, x_2, x_3 = fun(arg_1, arg_2, arg_3)
print(x_1, x_2, x_3)

20 60 120

In [ ]:
x_1, x_2, x_3 = fun(ar_1 = arg_1, arg_2, arg_3)

SyntaxError: positional argument follows keyword argument (<ipython-input-16-74b6ec3482d9>, line 1)

In [ ]:
x_1, x_2, x_3 = fun(arg_1, ar_2 = arg_2, ar_3 = arg_3)

In [ ]:
x_1, x_2, x_3 = fun(ar_3 = arg_3)
print(x_1, x_2, x_3)

10 15 120

In [ ]:
x_1, _, _ = fun(ar_3 = arg_3)
print(x_1)

10

#Simple Real Life Scenarios

<h3> Spam Email Detection</h3>

In [ ]:
def spam_checker(spam_mail):
  spam_mail = spam_mail.lower()
  if spam_mail.find('won') and spam_mail.find('claim'):
    print('this is a spam mail.')
  else:
    print('Not a spam Mail!')

In [ ]:
str_1 = "You have won an amount of 1 Million Dollar. Follow this simple Steps to claim your prize!"
spam_checker(str_1)

this is a spam mail.

<h3>Tax Deduction System</h3>

In [ ]:
def slab2(net_sal):
  return net_sal * .05

def slab3(net_sal):
  return 12500 + net_sal * .10

def slab4(net_sal):
  return 37500 + net_sal * .15

def slab5(net_sal):
  return 75000 + net_sal * .20

def slab6(net_sal):
  return 125000 + net_sal * .25

def slab7(net_sal):
  return 187500 + net_sal * .30

In [ ]:
def slab_checker(net_sal):
  if net_sal < 250000:
    print("Deducted Amount 0")
  elif net_sal > 250000 and net_sal < 500000:
    print("Deducted Amount: ", slab2(net_sal))
  elif net_sal > 500000 and net_sal <  750000:
    print("Deducted Amount: ", slab3(net_sal))
  elif net_sal > 750000 and net_sal <  1000000:
    print("Deducted Amount: ", slab4(net_sal))
  elif net_sal > 1000000 and net_sal <  1250000:
    print("Deducted Amount: ", slab5(net_sal))
  elif net_sal > 1250000 and net_sal <  1500000:
    print("Deducted Amount: ", slab6(net_sal))
  elif net_sal > 1500000:
    print("Deducted Amount: ", slab7(net_sal))

In [ ]:
sal = float(input("Enter your Salary:"))
slab_checker(sal)

Enter your Salary:1200000
Deducted Amount:  315000.0

<h3>Restaurant Bill Payment System</h3>

In [ ]:
bill_amount = float(input("Enter the Bill Amount:"))
c_gst = s_gst = 0.025 * bill_amount
print("C GST", c_gst)
print("S GST", s_gst)
choice = input("Do you want to pay Service charge? Y/N: ")
if choice == 'Y':
  service_charge = .06 * bill_amount
  print("Service Charge", service_charge)
else:
  service_charge = 0

total_bill = service_charge + c_gst + s_gst + bill_amount
print("Your bill amount is:", total_bill)

Enter the Bill Amount:2500
C GST 62.5
S GST 62.5
Do you want to pay Service charge? Y/N: N
Your bill amount is: 2625.0